* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  text-align: center;
  margin-bottom: 2rem;
}
.main-container{
  width: 700px;
  height: 700px;
  margin: 0 auto;
  margin-top: 7rem;
}
.clock-container{
  width: 70%;
  height: 70%;
  background-color: rgb(208, 208, 208);
  border: 1rem solid black;
  border-radius: 50%;
  position: relative;
  margin: 0 auto ;
}
.clock-digit {
  width: 10%;
  height: 10%;
  font-weight: bold;
  font-size: 2rem;
  position: absolute;
  
}

.twelve{
  top: 1%;
  right: 46%;
}

.three{
  top: 43%;
  right: -2%;
}

.six{
  bottom: 1%;
  right: 44%;
}

.nine{
  top: 43%;
  left: 2.5%;
}

.one{
  width: 2%;
  height: 5%;
  background-color: black;
  top: 9%;
  right: 28%;
  transform: rotate(31deg);
}

.two{
  width: 2%;
  height: 5%;
  background-color: black;
  top: 25%;
  right: 12%;
  transform: rotate(57deg);
}
.four{
  width: 2%;
  height: 5%;
  background-color: black;
  bottom: 26%;
  right: 11%;
  transform: rotate(-62deg);
}
.five{
  width: 2%;
  height: 5%;
  background-color: black;
  bottom: 10%;
  right: 28%;
  transform: rotate(-31deg);
}
.seven{
  width: 2%;
  height: 5%;
  background-color: black;
  bottom: 11%;
  left: 26%;
  transform: rotate(31deg);
}

.eight{
  width: 2%;
  height: 5%;
  background-color: black;
  bottom: 27%;
  left: 10%;
  transform: rotate(62deg);
}
.ten{
  width: 2%;
  height: 5%;
  background-color: black;
  top: 25%;
  left: 11%;
  transform: rotate(-59deg);
}

.eleven{
  width: 2%;
  height: 5%;
  background-color: black;
  top: 9%;
  left: 26%;
  transform: rotate(-31deg);
}
#second, #hour, #minute{
  border: 0.2rem solid black;
  border-radius: 4px;
  position: absolute;
  top: 15%;
  right: 50%;
  transform-origin: 50% 75%;
  transform: rotate(0deg);
}
#second{
  width: 2%;
  height: 45%;
  
}
#minute{
  width: 3%;
  height: 42%;
  border-radius: 15px;
  right: 49.5%;
  top: 17%;
}

#hour{
  width: 4%;
  height: 35%;
  border-radius: 15px;
  top: 22%;
  right: 49%;
}
.circle{
  width: 9%;
  height: 9%;
  position: relative;
  top: 44%;
  right: -44%;
  background-color: black;
  border-radius: 50%;
  z-index: -0;
}